<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:partial="head">
    <title>Hospital Management</title>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<header th:partial="header">
    <h1 style="font-weight: 700;margin: 20px;text-align: center;">Hospital Management
        System</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"
         style="margin-top: 12px;margin-bottom: 12px;max-width: 70%;left: 15%;border-radius: 8px;"
         th:partial="navigation">
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: center;">
            <ul class="navbar-nav" style="width: 100%;display: inline-block;">
                <li class="nav-item" style="display: inline-block;">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item" style="display: inline-block;">
                    <a class="nav-link" href="/doctors/create-doctor">Add Doctor</a>
                </li>
                <li class="nav-item" style="display: inline-block;">
                    <a class="nav-link" href="/doctors">Doctors</a>
                </li>
                <li class="nav-item" style="display: inline-block;">
                    <a class="nav-link" href="/patients/create-patient">Add Patient</a>
                </li>
                <li class="nav-item" style="display: inline-block;">
                    <a class="nav-link" href="/patients">Patients</a>
                </li>
                <li class="nav-item" style="display: inline-block;">
                    <a class="nav-link" href="/visits/create-visit">Add Visit</a>
                </li>
                <li class="nav-item" style="display: inline-block;">
                    <a class="nav-link" href="/visits">Visits</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<footer page-footer font-small>
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="#"> Hospital Management System</a>
    </div>
</footer>
</html>
